{% extends 'short/base.html' %}
{% block urls_active %}active{% endblock %}
{% block title %} Detalhes da URL {% endblock %}<
{% block body %}

    <h2> {{ url.titulo_url }}</h2>
    Url Curta: <a href="{{ url.urlnormal }}">{% url.urlcurta }</a><br />
    Url Normal: <a href="{{ url.urlnormal }}">{{ url.urlnormal }}</a>


{% endblock %}