{% extends 'short/base_visitor.html' %}
{% block title %}URL já Existe{% endblock %}

{% block body %}
<h3>URL Já existente</h3>
<p>{{ object.titulo_url }}
<p>{{ object.urlnormal}}
<p>Short: <a href="{{ object.urlnormal }}">URL/{{ object.urlcurta }}</a>

    <br /><br />

    <a href="{% url 'short:nova' %}">Cadastrar uma nova URL</a>
{% endblock %}