{% extends 'short/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}




        <div class="col-sm-10 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'short:nova' %}">Encurtar uma Nova URL</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Urls cadastradas</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Identificação</th>
                            <th>Url</th>
                            <th>Url-Curta</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for url in urls %}
                            <tr>
                                <td>{{ url.titulo_url }}</td>
                                <td>
                                    <a target="_blank" href="{{ urls.urlnormal }}">
                                        {{ url.urlnormal }}
                                    </a>
                                </td>
                                <td>
                                    <a target="_blank" href="{{ urls.urlnormal }}">
                                        {{ url.urlcurta }}
                                    </a>
                                    </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

{% endblock %}
