{% extends 'short/base_visitor.html' %}
{% block title %}URL criada{% endblock %}

{% block body %}
<h3>Url encurtada:</h3>
<p>ID: {{ object.titulo_url }}
<p>Url {{ object.urlnormal}}
<p>Short: <a href="{{ object.urlnormal }}">URL/{{ object.urlcurta }}</a>
    <br /><br />

    <a href="{% url 'short:nova' %}" class="btn">Cadastrar uma nova URL</a>
{% endblock %}