{% extends 'short/base_visitor.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}




        <div class="col-sm-10 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'short:nova' %}">Encurtar uma URL</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Encurtador de Url's</h3:
                    <p>Economize caracteres nas redes sociais</p>


                </div>
            </div>

        </div>

{% endblock %}
