{% extends 'short/base_visitor.html' %}
{% block title %}Criar URL{% endblock %}
{% block nova_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ title }}</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                    {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Encurtar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">


                    <h3>Dúvidas?</h3>
                    <ul>
                        <li>Identifique o seu link, para que possa se lembrar sobre o que é.</li>
                        <li>E cole a URL que deseja encurtar</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

</div>
{% endblock %}
